@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background: url(../img/58.jpg) no-repeat center top;
  position: relative; }

.huanyin {
  font-size: 34px;
  font-family: "楷体";
  position: absolute;
  left: 480px;
  top: 70px;
  .huanyinyu{
    display: inline-block;
  }
  .please{
      font-family: "楷体";
      margin-left: 170px;
      font-size: 28px;
      font-weight: bolder;
    }
  span {
      font-size: 50px;
      font-family: "楷体";
      font-weight: bolder;
      color: #E10601;
    }
}

.bigBox {
  width: 400px;
  height: 300px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 510px;
  top: 180px;
  box-sizing: border-box; 
  border-radius: 15px;
  padding:10px;
  a{
    color: black;
  }
  .fanhuishouye{
    float: left;
    display: flex;
    align-items: flex-start;
  }
  .fanhuizhuce{
    float: right;
  }
  .xin{
    width: 50px;
    height: 30px;
  }  
}
.smallBox{
  width: 400px;
  box-sizing: border-box;
  .tishi{
    width: 380px;
    padding-top:20px;
    font-size: 16px;
    text-align: center;
    clear: both;
  }
  .wenzi{
    font-size: 20px;
    font-family: "楷体";
    }
    .wenbenkuang{
      margin-top:30px;
      border-radius: 10px;
      width: 300px;
      height: 30px;
      outline: none;
    }
    .denglu{
      width: 120px;
      height: 30px;
      background: #448FE4;
      font-size: 24px;
      font-family: "楷体";
      color: white;
      border-radius: 15px;
      outline:none;
      border-color:#448FE4 ;
      margin-top:20px;
      margin-left: 140px;
    }
}